body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:225px;
  width:250px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:290px;
}
#u1 {
  position:absolute;
  left:2px;
  top:137px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:274px;
  top:256px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:274px;
  top:331px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:274px;
  top:289px;
  width:200px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6_input {
  color:#000000;
}
#u6_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:36px;
}
#u7 {
  position:absolute;
  left:274px;
  top:361px;
  width:200px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7_input {
  color:#000000;
}
#u7_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:36px;
}
#u8 {
  position:absolute;
  left:274px;
  top:403px;
  width:100px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:274px;
  top:438px;
  width:1px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:274px;
  top:438px;
  width:200px;
  height:30px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:0px;
  width:1680px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:80px;
  opacity:0.300000011920929;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:1386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:860px;
  opacity:0.300000011920929;
  color:#FFCC66;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:860px;
}
#u20 {
  position:absolute;
  left:2px;
  top:422px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:2105px;
  height:80px;
  opacity:0.300000011920929;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2105px;
  height:80px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:2101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:218px;
  top:17px;
  width:251px;
  height:42px;
  font-size:36px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:42px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:129px;
  top:11px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:656px;
  top:0px;
  width:491px;
  height:80px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:32px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
